<% if @movie.cover.present? %>
    <%= image_tag url_for(@movie.cover) %>
<% end %>

<% @movie.categories.each do |category| %>
    <p>Categoria: <%= category.name %></p>
<%end%>

<h2>Nombre: <%= @movie.title%><h2>
<p>Fecha: <%= @movie.date%></p>
<p>Plataforma: <%= @movie.platform%></p>
<p>Review: <%= @movie.review%></p>

<%= link_to 'Editar', edit_movie_path(@movie) %>
<%= link_to 'Eliminar', movie_path(@movie), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro de eliminar esta pelicula?" } %>
