<!DOCTYPE html>
<html>
  <head>
    <title>Moview Reseñas de Peliculas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <section class="layout">
      <header>
        <nav class="navbar"> 
            <%= link_to root_path, class: "nav-link" do  %>
              <%= image_tag "logo.png", alt: "ValoradorPeliculas", height: 100, class:'m-2' %>
            <% end %>
            <% if signed_in? %>
              <%= link_to 'Cerrar Sesión', destroy_user_session_path, class:'nav-link m-5', data: { turbo_method: :delete } %>
            <% else %>
             <div class="login-container">
                <%= link_to "Ingresar", new_user_session_path, class:'nav-link m-4' %>
                <%= link_to "Registrarse", new_user_registration_path, class:'nav-link m-4' %>
             </div>
            <% end %>
            <%= form_tag search_movies_path, class:"search", method: :get do %>
                <%= text_field_tag :q, params[:q], placeholder:"Buscar", class:"form-control" %>
                <button class="btn btn-outline-success", type:"submit" >Enviar</button>           
            <% end %>
        </nav>
      </header>
      <main>
         <%= render partial: 'partials/messages' %>
         <%= yield %>
      </main>
      <footer class="footer">
      <ul class="social-media">
        <li>
        <%=link_to "https://www.linkedin.com/in/claudia-gonzalez-fuentes/", :target => "_blank" do %>
           <%=image_tag ("https://firebasestorage.googleapis.com/v0/b/ecommerce-coder-tradegames.appspot.com/o/linkedin-logo.png?alt=media&token=0cad02a0-e41d-4572-a710-16330dbaafb9"), :class => "socialmedia-icon", :alt => "Linkedin"%>
           <% end %>
        </li>
        <li>
        <%=link_to "https://github.com/claunicole", :target => "_blank" do %>
           <%=image_tag ("https://firebasestorage.googleapis.com/v0/b/ecommerce-coder-tradegames.appspot.com/o/github-logo.png?alt=media&token=2a32efc7-ba40-4ae6-8b05-601a1e24bd88"), :class => "socialmedia-icon", :alt => "Github"%>
           <% end %>
        </li>
        <li>
        <%=link_to "https://twitter.com/Claunicode", :target => "_blank" do %>
           <%=image_tag ("https://firebasestorage.googleapis.com/v0/b/ecommerce-coder-tradegames.appspot.com/o/Twitter-logo.svg.png?alt=media&token=d3f67340-3a9e-4094-b48c-99fef30f954f"), :class => "socialmedia-icon", :alt => "Twitter"%>
           <% end %>
        </li>
      </ul>
      <p class="copyright">Derechos reservados &copy Claudia Gonzalez <%=Time.now.year%> </p>
      </footer>
    </section>
  </body>
  <script>
      var buttons = document.querySelectorAll('.btn-close');
      for (var i = 0; i < buttons.length; i++) {
        var buttons = buttons [i];

        buttons.addEventListener('click', function(e) {
          var message = document.getElementById("message-" + buttons.value)
          message.style.display = "none";
            });
      }
  </script>
</html>
